@import 'variables';
@import 'compass/css3/box-sizing';
@import 'compass/css3/border-radius';
@import 'compass/css3/text-shadow';

* {
  @include box-sizing(border-box);
}
body{
  &.home{
    width: 100%;
    background: $bg url('../images/meolans.jpg') center top no-repeat;
    background-size: 100% auto;
    font-family: 'Lato' Arial sans-serif;
  }
}
.navbar-fixed-top {
  position: absolute;
}
.navbar-brand{
  img{
    display: block;
    width: 200px;
  }
  .btn-primary{
    @include border-radius(0);
    width: 176px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    padding: 3px;
    border-top: 1px solid $active;
  }
}
.navbar-inverse {
  .container{
    height: 0;
  }
  background: transparent none;
  border-color: transparent;
  .navbar-collapse{
    border-color: transparent;
  }
  .navbar-nav{
    float: right;
    margin-right: 40px;
    &> li > a{
      border-top: 1px solid transparent;
      font-size: 18px;
      padding: 24px 30px;
      color: $text-contrast;
    }
    &> .active > a,
    &> .active > a:hover,
    &> .active > a:focus{
      background-color: $main;
      color: $text-main;
      border-top-color: $active;
    }
  }
}
ul{
  &> .active > a,
  &> .active > a:hover,
  &> .active > a:focus{
    background-color: $main;
    color: $text-main;
    border-top-color: $active;
    @include text-shadow(0 1px 4px lighten($main,10%));
  }
}
.user-menu{
  display: block;
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    padding: 10px;
  }
}
.main-content{
  background: $bg none;
  padding-top: 1px;
}
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: transparentize($navigation-bg, .1);
}
