$bg: #fff;
$blured-menu-text: #c2c2c2;
$bg-heading: #e4e4e4;
$main: #0095da;
$success: #0bce0b;
$text-main: #034a7f;
$active: #00fef0;
$text-contrast: #fff;
$navigation-bg: #000;
$highlight: #ff4e00;
