/* line 6, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/base.scss */
body.home {
  width: 100%;
  background: #fff url("../images/meolans.jpg") center top no-repeat;
  background-size: 100% auto;
  font-family: 'Lato' Arial sans-serif;
}

/* line 17, ../sass/base.scss */
.navbar-fixed-top {
  position: absolute;
}

/* line 21, ../sass/base.scss */
.navbar-brand img {
  display: block;
  width: 200px;
}
/* line 25, ../sass/base.scss */
.navbar-brand .btn-primary {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 176px;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  padding: 3px;
  border-top: 1px solid #00fef0;
}

/* line 35, ../sass/base.scss */
.navbar-inverse {
  background: transparent none;
  border-color: transparent;
}
/* line 36, ../sass/base.scss */
.navbar-inverse .container {
  height: 0;
}
/* line 41, ../sass/base.scss */
.navbar-inverse .navbar-collapse {
  border-color: transparent;
}
/* line 44, ../sass/base.scss */
.navbar-inverse .navbar-nav {
  float: right;
  margin-right: 40px;
}
/* line 47, ../sass/base.scss */
.navbar-inverse .navbar-nav > li > a {
  border-top: 1px solid transparent;
  font-size: 18px;
  padding: 24px 30px;
  color: #fff;
}
/* line 53, ../sass/base.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #0095da;
  color: #034a7f;
  border-top-color: #00fef0;
}

/* line 63, ../sass/base.scss */
ul > .active > a, ul > .active > a:hover, ul > .active > a:focus {
  background-color: #0095da;
  color: #034a7f;
  border-top-color: #00fef0;
  text-shadow: 0 1px 4px #0eb3ff;
}

/* line 72, ../sass/base.scss */
.user-menu {
  display: block;
  margin: 0;
  padding: 0;
}
/* line 76, ../sass/base.scss */
.user-menu li {
  display: inline-block;
  padding: 10px;
}

/* line 81, ../sass/base.scss */
.main-content {
  background: #fff none;
  padding-top: 1px;
}

/* line 85, ../sass/base.scss */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}
